input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  background: #0497aa4b;
  color: #fff;
}
input[type=text]::placeholder, input[type=email]::placeholder, select::placeholder, textarea::placeholder {
  color: #fff;
  opacity: .5
  ;
}
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #45a049;

}

.contact_container {
  height: 87vh;
  background-image: url(./Sydney-harbour.jpg) !important;
}