.container {
  background-image: url(./Sydney-harbour.jpg) !important;
  background-size: cover;
  background-position: center;
  height: 88vh;
  width: 100%;
  padding: 0 !important;
  max-width: 1500px !important;
}
.heading_home {
  color: white !important;
  font-size: 50px;
  font-weight: bold;
  padding-top: 210px;
  padding-left: 20px;
  /* text-shadow: 2px 2px 4px #000000; */
}
.heading_about{
    padding-top: 180px !important;
      color: white !important;
  font-size: 50px;
  font-weight: bold;
padding-left: 20px;
}
.bookNow {
  margin-left: 20px !important;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 20px;
  background-color: #4ec4d1;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px !important;
}
p {
  color: white !important;
  font-size: 16px;
  padding-left: 20px;
}
.para {
  height: 70px;
  width: 500px;
}
.header_search {
  width: 260px !important;
}
.social {
  margin-top: 50vh !important;
  margin-left: 10px;
}
.social_icons {
  height: 24px;
  width: 24px;
  margin-top: 20px;
}
.heading {
  font-size: 50px !important;
  color: white !important;
}
.para_about {
  color: white !important;
  font-size: 16px;
  padding-left: 20px;
  margin-right: 200px;
  background: #28606772;
}
.about.card {
  background-color: #103152ac !important;
}
.para_about_card {
  color: white !important;
  font-size: 16px;
  visibility: hidden;
  text-emphasis: none;
  width: 30ch; /* roughly 30 characters depending on font */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  visibility: visible;
  margin-left: -10px;
}
.profile_span {
  height: 50px !important;
  width: 50px !important;
  border-radius: 5px;
  background: #023c83;
  padding: 5px;
}
.profile_span img {
  height: 20px;
  width: 20px;
}
.name {
  color: white;
  font-size: 16px;
  margin-left: 10px;
}
.card_container{
    height: 150px !important;
}
.card_container .row{
    height: 150px !important;
}
.btn_member{
    background: #023c83;
    padding: 5px 15px;
    width: 170px;
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    margin-bottom: 15px;
}